*{
    margin: 0;
    padding: 0;
}
body{
    background: #2ecc71;
    font-family: 'Bungee Shade', cursive;
}
h1{
    font-size: 33pt;
    color: black;
}

main{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
}
aside{
    width: 500px;
    height: 400px;

}
.linha{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 475px;
}

.linha div{
    display: flex;
    justify-content: space-around;
    background-color: rgba(52, 73, 94,1.0);
    width: 150px;
    height: 150px;
    cursor: pointer;
    margin-bottom: 8px;
}


.linha div:hover{
    background-color: rgba(52, 73, 94,0.7);
}